
.link {
  color: rgb(224, 224, 224);
  text-decoration: none;
  transition: color 0.3s ease;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  padding: 20px;
}

.link:hover {
  transition: 0.2s;
  opacity: 50%;
}


.scrolled {
  color: #000c89;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  padding: 20px;
}

.scrolled a:hover {
  color: #01063a;
}

.scrolled:hover {
  transition: 0.2s;
  opacity: 50%;
}



.scrolledCateg {
  position: relative;
  background: transparent;
  border: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  position: relative;
  background: transparent;
  border: none;
}
 
@media (max-width: 600px) {
  .link {
    padding: 10px;
    margin-bottom: 0px;
    font-size: 12px;
  };
}