.contenedorCategorias {
  position: relative;
}

.boton {
  color: rgb(224, 224, 224);;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  padding: 20px;

  z-index: 2;
}


.botonChange {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: transparent;
  border: none;
  color: #000c89;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  padding: 20px;
  font-weight: 100;

  z-index: 2;
}

.botonChange:hover {
  opacity: 50%;
}

.menu {
  color: black;
  position: absolute;
  top: -1px;  
  left: -10px;    

  background: rgb(255, 255, 255);
  padding: 50px 30px 20px 0px;

  min-width: 180px;

  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);

  z-index: 1;
  
}

.menu p {
    margin-right: 50px;
    padding-top: 9px;
    font-weight: 100;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    opacity: 0.5;
}

.menu p:hover {
  transition: 0.2s;
  opacity: 0.2;;
}

@media (max-width: 600px) {
  .boton {
    font-size: 12px;
  }
  .botonChange {
    font-size: 12px;
  }

};