.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 1rem;
}

.link {
  font-size: 16px;
  color: rgb(224, 224, 224);
  text-decoration: none;
  transition: color 0.3s ease;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  padding: 20px;
  background: transparent;
  border: none;
}

.link:hover {
  transition: 0.2s;
  opacity: 50%;
}


.scrolled {
  color: #000c89;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  padding: 20px;
  background: transparent;
  border: none;
  font-size: 16px;
}

.scrolled a:hover {
  color: #01063a;
}

.scrolled:hover {
  transition: 0.2s;
  opacity: 50%;
}



.scrolledCateg {
  position: relative;
  background: transparent;
  border: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  position: relative;
  background: transparent;
  border: none;
}

.hamburger {
  display: none;
}
 
@media (max-width: 600px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none; /* <- oculto */
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 100%;
    background: white;
    z-index: 9999;
    flex-direction: column;
  }

  .active {
    display: flex; /* <- aparece al hacer click */
  }

  .link {
    color: #000c89;
  }
}