.carousel {
   position: relative;
  height: 600px;
   overflow: hidden;
   mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 8%,
    black 92%,
    transparent 100%
  );
   -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 8%,
    black 92%,
    transparent 100%
  );

}

.carouselWrapper {
  position: relative;
  width: 90%;
}

.carousel img {
  position: absolute;
  object-fit: cover;
  border-radius: 20px;
}
.leftArrow,
.rightArrow {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  border: none;

  background-color: transparent;

  color: rgba(255, 255, 255, 0.523);

  font-size: 2rem;

  width: 50px;
  height: 50px;

  cursor: pointer;

  z-index: 10;
}

.leftArrow {
  left: 15px;
}

.rightArrow {
  right: 15px;
}

.leftArrow:hover,
.rightArrow:hover {
  color: rgba(255, 255, 255, 0.7);
}

.carousel:hover .leftArrow,
.carousel:hover .rightArrow {
  opacity: 1;
}

.visibleSlides {
  position: absolute;
  top: 50%;
  left: 50%;
}

.active,
.prev,
.next,
.hidden {
  position: absolute;

  top: 50%;
  left: 50%;

  transition: all 1s ease;

}

.active {
  width: 70%;
  max-width: 1000px;

  transform:
    translate(-50%, -50%)
    scale(1);

  z-index: 3;

   box-shadow:
    0 20px 50px rgba(0,0,0,.5);
}


.prev {
  width: 50%;
  max-width: 700px;

  transform:
    translate(-170%, -50%)
    scale(.8);

  opacity: .6;

  z-index: 2;
}

.next {
  width: 50%;
  max-width: 700px;

  transform:
    translate(70%, -50%)
    scale(.8);

  opacity: .6;

  z-index: 2;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}